#color{
    width: 200px;
    height: 200px;
    background-color: rgb(211, 125, 26);
}
button{
    background-color: aquamarine;
    padding: 5px;
    margin: 5px;
    border: 4px solid purple;
    border-radius: 20px;
}